<div class ="container-fluid">

<div class ="container-fluid mt-5 mb-5">
{{> post-info post }}
{{> comments post.comments}}
</div>
<div class ="container-fluid mt-5 mb-5">

</div>
{{#if loggedIn}}
<div class="d-flex p-2 bd-highlight justify-content-center">
	<form class="comment-form d-flex row">
		<div class="row col-12">
			<textarea name="comment-body"></textarea>
		</div>

		<div class="row">
			<button type="submit">add comment</button>
		</div>
	</form>
</div>
{{/if}}



{{#if loggedIn}}
	<script src="/javascript/comment.js"></script>
{{/if}}


</div>
